-# トップページからヘッダーを持ってくる
-# = render 'top/header'

%main.y__l-container.clearfix
  .y__l-container-box
    -# userコントローラーの設定が出来たら下記に変更
    -# = render 'mypage/main', collection: @user
    = render 'mypage/main'
    = render 'mypage/side'

-# トップページからフッターを持ってくる
-# = render 'top/footer'
