.container
  .header
    .header__logo
      = link_to image_tag('logo.png', :width => '170', :height => '60'), root_path
  .main
    .main__contents
      .main__contents__top
        購入内容の確認
      .main__contents__middle
        .main__contents--middle__item__image
        .main__contents--middle__item__detail
          %p.item__name
          %p.item__price
      .main__contents__bottom
        .main__contents--bottom__form
          .main__contents--bottom__form__price
          .main__contents--bottom__form__purchase
  .footer
    .footer__logo
    .footer__c--mark