【マークアップ】商品出品ページ
.n__container
  .n__logo
    = link_to image_tag('logo.png', :width => '170', :height => '60'), root_path

    ↓出品フォーム追記







  .n__end__logo__container
    .n__end__logo__container__end__logo
      = link_to image_tag('logo.png', :width => '170', :height => '60'), root_path
      %p ©️FURIMA.inc 