.k__main
  .k__showMain
    .k__content
      .k__itemBox
        .k__itemBox__name
          白Tシャツ
        .k__itemBox__body
          写真
        .k__itemBox__price
          ¥ 750
          .k__itemBox__price-detail
            %span (税込)
            %span 送料込み
        .k__itemDetail
          .noticeMsg
            シンプルです
        .k__table
          %table
            %tbody
              %tr
                %th 出品者
                %td.k__table--blue
                  イシワ
              %tr
                %th カテゴリー
                %td.k__table--blue
                  Tシャツ
              %tr
                %th ブランド
                %td
                  ノーブランド
              %tr
                %th 商品のサイズ
                %td
                  L
              %tr
                %th 商品の状態
                %td
                  普通
              %tr
                %th 配送料の負担
                %td
                  送料込み(出品者負担)
              %tr
                %th 発送元の地域
                %td
                  東京都
              %tr
                %th 発送日の目安
                %td
                  1日〜２日で発送
        .k__optonalArea
          %ul
            %li.k__optinalBtn.k__likeBtn
              =icon('fa','star')
              お気に入り 0
          %ul.k__optional
            %li.k__optionalBtn
              =icon('fa','flag')

      .k__itemChangBox
        ログインして購入する

      .k__commentBox
        

    .k__links
      %ur
        %li
          <前の商品
        %li
          次の商品>
