.footer
  %ul.contents
    %li.content
      %h2.content__title FURIMAについて
      %ul.content__title__text
        %li
          %a 会社概要（運営会社）
      %ul.content__title__text
        %li
          %a プライバシーポリシー
      %ul.content__title__text
        %li
          %a FURIMA利用規約
      %ul.content__title__text
        %li
          %a ポイントに関する特約
    %li.content
      %h2.content__title FURIMAを見る
      %ul.content__title__text
        %li
          %a カテゴリー一覧
      %ul.content__title__text
        %li
          %a ブランド一覧
      %ul.content__title__text
        %li
          %a FURIMA利用規約
    %li.content
      %h2.content__title ヘルプ＆ガイド
      %ul.content__title__text
        %li
          %a FURIMAガイド
      %ul.content__title__text
        %li
          %a FURIMAロゴ利用ガイドライン
      %ul.content__title__text
        %li
          %a お知らせ
  .footer__logo
    %a @FURIMA