.k__main
  .k__head__bar
    .k__head__bar__box
      .k__head__bar__box-logo
        %a(href="/")
          = image_tag 'logo.png', alt: '', height: '40px', width: '140px', class: 'img-logo'
      %input.k__head__bar__box-text-box{:name => "search", :placeholder => "キーワードから探す", :type => "search", :value => ""}/
      .k__head__bar__box-text-box-btn(type="submit")
        %a(href="/")
          = image_tag 'icon-search 1.png', alt: '',height: '22px',width:'22px',type: 'submit', class: 't__head__bar__box-text-box-btn-icon'
    .k__head__bar__search
      %ul.k__head__bar__search__box
        %li.k__head__bar__search__box-categry カテゴリー
        %li.k__head__bar__search__box-brand ブランド
      %ul.k__head__bar__search__select
        %li.k__head__bar__search__select-login ログイン
        %li.k__head__bar__search__select-new 新規会員登録
